.banner{
	background-color:#fff0e6;
	border-bottom:1px solid #ccc;
}
.rowicon{
 font-size:3rem;
 color:#ff8533;
}
.services{
	background-color:#fff0e6;
	text-align:center;
}
.ser{
	margin:auto;
	text-align:center;
}
.ser-icon{
	font-size:2rem;
	color:#ff8533;
	margin:auto;
}
.prot-img{
	position:relative !important;
	
}
.prothover{
	position:absolute !important;
	opacity:0 !important;
	top:0 !important;
	bottom:0 !important;
	left:0 !important;
	right:0 !important;
	background-color:rgba(0,0,0,0.7)!important;
	color:white !important;
	z-index:997!important;
	
}
.prothover iconify-icon{
	background-color:#ccc;
	color:blue;
	width:50px;
	height:50px;
	display:flex;
	margin:auto;
	border-radius:50%;
	justify-content:center;
	align-items:center; 
	font-size:1.5rem;
}
.prot-img:hover .prothover{ 
	opacity:1 !important;
}
.faqe{
	text-align:left;
}
.faqe summary:hover{
	color:orange;
}
.faqe details{
	border-bottom:0.5px solid #ccc;
	padding-bottom:1rem;
}
/* card border none */
.card{
	border:none;!important
	}
.cont{
	border-bottom:3px  solid   red ;
	border-top:3px solid  red ;
}
.footer{
	background-color:#fff3e6;
}
.foot li a {
	text-decoration:none;
	color: #a6a6a6;
	line-height:1.5rem;
}
.foot p{
	color: #a6a6a6;
}