.banner{
	background-color:#fff0e6;
	border-bottom:1px solid #ccc;
}
.rowicon{
 font-size:3rem;
 color:#ff8533;
}
/* services */
.services{
	background-color:#fff0e6;
	text-align:center;
}
.ser{
	margin:auto;
	text-align:center;
}
.ser-icon{
	font-size:1.5rem;
	color:#ff8533;
	margin:auto;
}
/* portfolio */
.prot-img{
	position:relative;
}
.prothover{
	position:absolute ;
	opacity:0;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(255, 148, 77,0.4);
	color:white;
	z-index:997;
	
	
}
.pro-icon .i{
	display:inline-block;
}
.prothover .pro-icon iconify-icon{
	display:flex;
	background-color:#fff;
	color:blue;
	width:50px;
	height:50px;
	margin:auto;
	border-radius:50%;
	justify-content:center;
	align-items:center; 
	font-size:1.5rem;
	left:100%;
}
.prot-img:hover .prothover{ 
	opacity:1 !important;
	transition:0.3s;
	left:0%;
	
}
/* summary */
.faq{
	background-color:#fff0e6 !important;
}
.faqe{
	text-align:left;
}
.faqe summary:hover{
	color:orange;
}
.faqe details{
	border-bottom:0.5px solid #ccc;
	padding-bottom:1rem;
}
/* team */
.team-i{
	position:relative;
}
.img-icon{
	position:absolute ;
	opacity:0;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0, 0 ,0, 0.6);
	color:white;
	z-index:997;
	overflow:hidden;
}
.img-icon iconify-icon{
	color:#fff;
	font-size:1.5rem;
	left:100%;
}
.icon-hover{
	position:absolute ;
	background-color:rgba(0, 0 ,0);
	color:white;
	z-index:997;
	bottom:0;
	top:0;
	margin:auto;
}
.icon-cont{
	position:absolute ;
	background-color:rgba(0, 0 ,0,0.5);
	color:white;
	z-index:997;
	bottom:0;
	left:0;
	right:0;
}
.team-i:hover .img-icon{
	opacity:1;
	transition:0.5s;
}
/* card border none */
.card{
	border:none;!important
	}
/* contact */
.head h2{
	color: #a6a6a6;
}
.head p::after{
	content:"";
	position:relative;
	height:3px;
	width:10%;
	margin:auto;
	display:flex;
	background-color:red;
	top:10px;
	border-radius:1rem;
}
.cont{
	border-bottom:3px  solid   red ;
	border-top:3px solid  red ;
}
/* .footer */
.footer{
	background-color:#fff3e6;
}
.footer ul{
	    padding-left:0 !important;
		line-height:2rem;
}
.footer ul li a:hover{
	color:orange;
}
.foot a {
	text-decoration:none;
	color: #a6a6a6;
	line-height:1.5rem;
}
.foot p{
	color: #a6a6a6;
}
.copyright{
	background-color:#fff3e6;
}
.foot .icons{
	font-size:1.3rem;
	background-color:orange;
	color:white;
	width:40px;
	height:40px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
}	
.icon li{
	padding-right:0.2rem;
	padding-left:0 !important;
}
}